<div class="login">
    <a href="/auth/twitter">
    <img src="/images/twittersignin.png">
    </a>
    
    <%# 
    <a href="/auth/facebook">
    <img src="/images/facebooksignin.png">
    </a>
    %>
    
</div>