<div class="login">
    <a href="/auth/twitter">
    <img src="/images/twittersignin.png">
    </a>
    
 
   	<%= link_to "Sign in with Facebook", omniauth_authorize_path(:facebook) %>

 
    
</div>