<%= form_for @snippet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name, :placeholder=>"Today I learned"%>
  </p>
       <button class="cupid-blue center big-button">SEND</button> 
 <% end %>