<div id="forma">
<%= form_for @snippet do |f| %>
  <%= f.error_messages %>
    <%= f.text_field :name, :placeholder=>"Today I learned"%>

  	<button class="cupid-blue big-button">SEND</button> 
 
<% end %>
</div>
 