<div class="snippet rounded5">

	<div class="blip">
		<div class="avatar-blip">
			
 	        <%=image_tag snippet.user.get_avatar, :class=>"avatar"%> 
 
		</div>
		
		<div class="blip-wrapper">
				<div class='tri'>
				</div>

			    <div class="blip-title rounded10">
			     <h2> <%= link_to snippet.name, snippet_path(snippet), :class=>"snippet_link" %> </h2>
			    </div>
		</div>
 </div>
</div>