<div class="snippet rounded5">
    <div class="points-box-list rounded5"> <h1> <%= snippet.votes_count %> </h1></div> 

    <div class="snippet-title">
        <h1> <%= link_to snippet.name, snippet_path(snippet), :class=>"snippet_link" %>  </h1>
    </div>
    
    <div class="description tk-museo-sans grayfont">
        <%= truncate(snippet.description,:length => 150) %>
    </div>

    <div class="tags-wrapper">
    <%= render :partial => "tags/tag", :locals => {:tags=>snippet.tags}%>
    </div>

</div>