<% title "Snippets" %>
 
  <% for snippet in @snippets %>
  <div>
      <%= link_to snippet.name, snippet_path(snippet) %> 
      <%= link_to "Edit", edit_snippet_path(snippet) %> 
      <%= link_to "Destroy", snippet, :confirm => 'Are you sure?', :method => :delete %> 
    </div>
  <% end %>
 
<p><%= link_to "New Snippet", new_snippet_path %></p>
