<% title "HTML5 Snippets" %>
 
  <% for snippet in @snippets %>
  <div><h1><%= link_to snippet.name, snippet_path(snippet) %> </h1>
      
    </div>
  <% end %>
 
<p><%= link_to "New Snippet", new_snippet_path %></p>
