  
  <% for snippet in @snippets %>
   <div class="snippet rounded5">
      <h1><%= link_to snippet.name, snippet_path(snippet), :class=>"snippet_link" %> </h1>
    <div class="description tk-museo-sans">
      <%= snippet.description %>
    </div>
    
    <% unless snippet.tags.empty? %>
        <div class="tags-wrapper">
         <% for tag in snippet.tags %>
                       <%= link_to tag.name, snippets_path(:tag=>tag.name), :class=>"tag rounded10" %>

        <%end%>
         </div>
     <%end%>
    
    </div>
   <% end %>
 
