/*
Some CSS code buttons by https://github.com/ubuwaits/css3-buttons/blob/gh-pages/css/buttons.css
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500;
	text-shadow: white 1px 1px 1px;
	letter-spacing: -2px;
	font-family: "museo-sans-1","museo-sans-2";
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

body {
	background-color: #a3c2c7;
	font-family: "museo-sans-1","museo-sans-2";
}

.center {
	margin-left: 360px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.small {
	font-size: 11px;
	color: #48697c;
}

input, textarea {
	font-size: 14px;
	padding: 4px;
	color: gray;
	border: 1px solid #bcbcbc;
	margin-top: 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Rounded */

.white-shadow {
	text-shadow: white 1px 1px 1px;
}

.gray-shadow {
	box-shadow: gray 2px 2px 2px;
	-moz-box-shadow: 2px 2px 2px gray;
	-webkit-box-shadow: 1px 1px 3px gray;
}

.rounded-top-5 {
	moz-border-radius-topleft: 5px;
	moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.bigborder {
	border: 8px solid #c5eeed;
}

.smallborder {
	border: 3px solid #c5eeed;
}

.darkborder {
	border: 3px solid #2c7c95;
}

.rounded5 {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.rounded10 {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.roundedtop {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

hr {
	border-top: 1px solid silver;
}

h3 {
	font-size: 17px;
	margin-bottom: 10px;
	color: #747474;
	letter-spacing: 1px;
}

h2 {
	font-size: 23px;
	margin-bottom: 10px;
	color: #616161;
}

h1 {
	font-size: 32px;
	color: #2c7c95;
}

a {
	text-decoration: none;
	color: #2c7c95;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

a img {
	border: none;
}

label {
	color: gray;
	text-shadow: white 0px 1px 0px;
}

.grayfont {
	color: gray;
	text-shadow: white 0px 1px 0px;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#header {
	width: 870px;
	margin: auto;
	margin-top: 10px;
	font-size: 12px;
}

#header a {
	color: white;
}

#wrapper {
	padding: 25px 25px 25px 25px;
	overflow: auto;
}

#container {
	width: 960px;
	margin: 6px auto;
	background-color: #def4f4;
	margin-top: 20px;
}

#user-login {
	float: right;
	margin-top: 5px;
}

#flash_notice, #flash_error, #flash_alert {
	padding: 5px 8px;
	margin: 10px 0;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error, #flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}

.error_messages {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	font-size: 12px;
}

.error_messages h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

.error_messages p {
	margin: 8px 10px;
}

.error_messages ul {
	margin: 0;
}

#sourcecode {
	display: inline-block;
	width: 870px;
	font-size: 13px;
}

#source-wrapper{
    display:none;
}

.tags-wrapper {
 	min-height: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 68px; 
}

.tags-wrapper-show {
 	min-height: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 98px;
}

.tags-wrapper-show a{
    font-size:12px;
}

 

.tags ul li{
		background-color: #9ad999;

}

.tag-title {
	padding: 2px 5px;
	background-color: #9ad999;
	color: #FFF;
}

.tag {
	float: left;
	padding: 2px 5px;
	background-color: #9ad999;
	margin-right: 10px;
	color: white;
	margin-bottom: 5px;
}

.tag:hover {
	text-decoration: none;
	background-color: #a7eaa6;
}

/*Show Snippet*/



.embed-wrapper{
	margin-top: 10px;
}

.ref-box{
	display: none;
	width: 100%;
	min-height: 40px;
	border-bottom: 2px solid silver !important;
	position: relative;
	background-color: white;
	padding: 4px;
	font-size: 12px;
	z-index: 99;
	top: 0;
	position: fixed;
}

#ref-text{
	
	background-color: #fbfbfb;
	margin: 3px;
	border: 1px solid #cfcfcf;
	padding: 4px;
	width: 500px;
}
#ref-form-wrapper{
	display: none;
}

#ref-wrapper{
 	height: 60px;
	width: 960px;
	margin: auto; 
	font-weight: normal;
}

#ref-wrapper keyword{
	font-size: 12px;
}

.ref-box #save{
	width: 100px;
	height: 45px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;	
  }

.ref-box .keyword{
	font-weight: bold;
}

#ref-close{
	float: right;
	display: inline;
}

.ref-box textarea{
	font-size: 11px;
	width: 800px;
	height: 30px;
}

#rundemo {
	padding: 6px 40px 6px 15px;
	width: 150px;
	background: white url(/images/newwindow.png) no-repeat 220px 4px;
}

#rundemo:hover {
	text-decoration: none;
	background: #bce2fb url(/images/newwindow.png) no-repeat 220px 4px;
}

#login-popup {
	background-color: rgba(255,254,255,0.95);
	height: 60px;
	width: 150px;
	position: absolute;
	padding: 10px;
	font-size: 13px;
	z-index: 99;
	margin-top: 55px;
	display: none;
}

#edit-popup {
	background-color: rgba(255,254,255,0.95);
	height: 60px;
	width: 150px;
	position: absolute;
	padding: 10px;
	font-size: 13px;
	z-index: 99;
 	display: none;
   }


#actions {
	float: right;
	margin-top:20px;
}

#actions a {
	margin-left: 15px;
}

#report-form {
	margin-top: 5px;
	background-color: white;
	padding: 5px;
	float: right;
	display: none;
}

/*List Snippets*/

#code-url{
	width: 500px;
}

.sort {
	padding: 4px;
	background: #acd0e7;
	color: white;
	margin-left: 10px;
}

.selected {
	background: #648bc0;
}

.sort:hover {
	text-decoration: none;
	background: #648bc0;
}

#snippets {
	overflow: auto;
	min-height: 400px;
	margin-top: 20px;
	float: left;
	width: 750px;
}

#right-column{
	float: right;
	padding: 35px 10px 10px 10px;
	text-align: center;
}

.snippet-title {
	width: 91%;
	float: right;
}

.snippet-title-show {
	width: 810px;
	float: right;
}

.description {
	width: 667px;
	float: right;
	margin-bottom: 10px;
}

.description-show {
	float: right;
	width: 800px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.avatar{
    width:30px;
	border: 3px solid white;
    margin:3px;
}

.user-info{
    font-size:10px;
    color:black;
}

#show-header{
    width:100%;
    overflow:auto;
}


.left-box{
	float:left;
}

.points-box {
	min-width: 50px;
	text-align: center;
	margin-right: 10px;
	background-color: #FFF;
	padding-top: 5px;
	margin-bottom:5px;
}

.views{
    font-size:10px;
    color:gray;
}

.points-box-list {
	float: left;
	min-width: 50px;
	text-align: center;
	margin-right: 10px;
	min-height: 50px;
	margin-top: 5px;
	background-color: #FFF;
}

.list-title {
	font-size: 40px;
	margin-bottom: 30px;
}

.snippet-link:hover {
	background-color: #e4fbfa;
	text-decoration: none;
}

.snippet:hover {
	background-color: #e4fbfa;
}

.snippet {
	min-height: 100px;
	overflow: auto;
	

/*border-bottom: 1px solid #fff;
	border-top: 1px solid #61828a;*/

	padding: 4px 8px 8px 8px;
	margin-top: 12px;
}

.snippet_link:hover {
	text-decoration: none;
}

/*New Snippet Form*/

#button-beautify {
	
}

#snippet_code {
	font-family: monaco;
	color: #575757;
	padding: 5px;
	width: 850px;
	font-size: 11px;
}

#snippet_name {
	width: 850px;
	font-size: 12px;
}

#snippet_description {
	width: 850px;
	height: 70px;
}

#tags-new {
	margin-bottom: 30px;
	margin-top: 10px;
	display: block;
	min-height: 20px;

}

#add-tag{
	font-size: 10px;
	padding: 6px 10px 6px 10px;	
}

.tag-green{
	background-color: #9ad999 !important;
	min-width: 200px;
	padding: 5px;
	color: white;
}

.tag-delete {
	background-color: #9ad999;
	color: #FFF;
	border: 0px;
}

#search {
	float: right;
}

#search input {
	width: 200px;
}

/* Buttons */

button:hover {
	cursor: pointer;
}

.punch {
	padding: 5px 10px 5px 10px;
	background: #a3c9a3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 1px 10px 1px #e7f7e4, 0px 1px 0 #a3c9a3, 0 6px 0px #475b48, 0 8px 3px 1px #111;
	-webkit-box-shadow: inset 0 1px 10px 1px #e7f7e4, 0px 1px 0 #a3c9a3, 0 6px 0px #475b48, 0 3px 4px 1px #111;
	box-shadow: inset 0 1px 10px 1px #e7f7e4, 0px 1px 0 #a3c9a3, 0 6px 0px #475b48, 0 3px 4px 1px #111;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 0px -1px 1px gray;
	width: 190px;
	-webkit-background-clip: padding-box;
	margin: 0px 5px 0px 5px;
}

.punch:hover {
	-moz-box-shadow: inset 0 0px 20px 1px #dcffd3, 0px 1px 0 #dcffd3, 0 6px 0px #475b48, 0 3px 4px 1px #111;
	-webkit-box-shadow: inset 0 0px 20px 1px #dcffd3, 0px 1px 0 #dcffd3, 0 6px 0px #475b48, 0 3px 4px 1px #111;
	box-shadow: inset 0 0px 20px 1px #dcffd3, 0px 1px 0 #dcffd3, 0 6px 0px #475b48, 0 3px 4px 1px #111;
	cursor: pointer;
	text-decoration: none;
}

.punch:active {
	-moz-box-shadow: inset 0 1px 10px 1px #475b48, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
	-webkit-box-shadow: inset 0 1px 10px 1px #475b48, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
	box-shadow: inset 0 1px 10px 1px #475b48, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
}

.button_m {
	background-color: #6fa3f6;
	color: navy;
	padding: 6px;
	border: 1px solid #395680;
}

.button_m:hover {
	text-decoration: none;
	background-color: #648bc0;
}

.big-button {
	width: 150px;
	font-size: 14px;
	padding: 13px 0 13px 0;
}

.small-button {
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

/*Login*/

.login{
	width: 500px;
	text-align: center;
	margin: auto;
}

/* cupid blue (inspired by okcupid.com)
/* Copyright (c) 2011 Chad Mazzola https://github.com/ubuwaits/css3-buttons/blob/gh-pages/LICENSE*/
*******************************************************************************/

.cupid-blue {
	background: #d7e5f5 !important;
	background: -moz-linear-gradient(0% 100% 90deg,#cbe0f5, #d7e5f5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d7e5f5), to(#cbe0f5));
	border-top: 1px solid #abbbcc !important;
	border-left: 1px solid #a7b6c7 !important;
	border-bottom: 1px solid #a1afbf !important;
	border-right: 1px solid #a7b6c7 !important;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	color: #1a3e66 !important;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
}

.cupid-blue:hover {
	background: #ccd9e8;
	background: -moz-linear-gradient(0% 100% 90deg,#c1d4e8, #ccd9e8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd9e8), to(#c1d4e8));
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
	cursor: pointer;
	text-decoration: none;
}

.cupid-blue:active {
	border: 1px solid #8c98a7;
	-moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eee;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eee;
	box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eee;
}


/********/

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 0.8em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	margin-bottom: 15px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

#snippet-content{
	width:100%;
	overflow:auto;
	background-color:#FFF;
}

#srun{
 	background:  #FFF url(/images/play.png) no-repeat 8px 14px;
	
}

#ssource{
    background-color:#EEE;
}

.snippet-tabs {
	margin-top:30px;
 
 }

#srun{
	padding-left:20px;
}

.snippet-tabs li{
	float:left;
	
	margin-right:10px;
	background-color:#FFF;
	padding: 15px;
	
	moz-border-radius-topleft: 5px;
	moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	
	font-size:12px;
}

.gray-tab{
	background-color:#FFF;
}

.white-tab{
		background:  #EEE;
}


#footer{
    width:100%;    
    text-align:center;
    color:white;
    font-size:12px;
}

#footer a{
    color:#e4fbfa ;
    font-size:11px;
}

