<div>
<%= form_for @request do |f| %>
  <%= f.error_messages %>
  <p>
	<label>
   	Enter you email to get notified</label><br />
    <%= f.text_field :email %>
  </p>
  <p>
	<label>Describe what type of snippet you need</label>
	<br />
    <%= f.text_area :description, :rows => 8%>
  </p>

 <button class="cupid-blue big-button">Send Request</button> 
</div>

<% end %>
