<% unless  tags.empty? %>

    <div class="tags-wrapper">
       
        <% for tag in  tags %>
             
            <%= link_to tag.name, snippets_path(:tag=>tag.name), :class=>"tag rounded10" %> 
            
        <%end%>
       
    </div>
     
<%end%>