var t=$("#tag").val();
if (t!=""){
    $("#tag").val("");
    $("#tags-new").append("<li class='rounded10 tag'>"+t+"<button class=\"tag-delete\">x</button></li>");
    
    tags.push(t);
    $("#tags").val(tags.join(","));
}